body{
font-family: Arial;
background:#f4f6f8;
padding:40px;
}

.container{
background:white;
padding:25px;
border-radius:10px;
width:500px;
}

input{
width:100%;
padding:8px;
margin-bottom:10px;
}

textarea{
width:100%;
}

button{
padding:10px;
background:#2a7cff;
color:white;
border:none;
cursor:pointer;
}